/* 
.free-sim .radio input[type="radio"],.free-sim  .radio-inline input[type="radio"],.free-sim  .checkbox input[type="checkbox"],.free-sim  .checkbox-inline input[type="checkbox"] {
    float: none;
    margin-left: -20px;
}

.free-sim  .panel-body {
    padding:25px 120px 25px 120px;
}
#edit-sim-type{
display:table;
margin:0 auto;
width:450px;
table-layout: fixed;
}
#edit-sim-type  .form-type-radio{
display:table-cell;
vertical-align:bottom;
padding:0;
}
#edit-sim-type  h4{
font-family:"helvitca-bold";
font-size:18px;
color:#009fe3;
font-weight:400;
}
#edit-sim-type  input[type="radio"]:not(old) ~ i {
    display:table;
    background: url('../images/chk-box.png') no-repeat 0 0;
    line-height: 24px;
    height: 23px;
	width:23px;
    vertical-align: middle;	
	margin:0 auto;
    white-space: nowrap;
}
#edit-sim-type  input[type="radio"]{
 position:absolute;
 opacity:0;
}
#edit-sim-type  input[type="radio"]:checked:not(old) ~ i {
    background-position: 0 -23px;
}

.freesim-order-section{
padding:30px 0 40px 0;
}
.freesim-order-form h1{
font-family:"helvitca-medium";
font-size:30px;
color:#73559e;
display:block;
margin-bottom: 30px;
}
.freesim-order-form  .control-label{
display:block;
font-weight:400;
}
.freesim-order-form  .form-control {
border-radius:0;
font-size:16px;
}
.freesim-order-form{
margin-bottom:30px;
}
.freesim-order-form .form-type-checkbox{
margin-top:15px !important;
}
.freesim-order-form .form-type-checkbox label{
font-size:16px;
font-family:"helvitca-regular";
color:#706f6f;
}
.freesim-order-form .form-group {
    margin-bottom: 10px;
}
.freesim-order-submit{
padding-top:20px;
  padding-bottom:40px; 
}
.freesim-order-submit .btn{
margin-bottom:20px;
}
.freesim-order-submit p{
font-size:16px;
font-family:"helvitca-regular";
color:#706f6f;
margin-bottom:5px;
}
.status-help {
padding:30px 45px;
}
.status-help h1{
    font-family: "helvitca-regular";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
	margin-top:10px;
}

.status-help h2{
    font-family: "helvitca-bold";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
	margin-top:10px;
}
.status-help h3{
    font-family: "helvitca-regular";
    font-size:18px;
    color: #73559e;
    font-weight: 400;
}
.status-help  h4{
    font-family: "helvitca-bold";
    font-size: 18px;
    color: #009fe3;
    display: block;
}	
.status-help strong{
    font-family: "helvitca-bold";
}
.status-help p{
    font-family: "helvitca-regular";
	font-size:18px;
	color:#706f6f;
}

.status-help p strong{
    font-family: "helvitca-medium";
}
.status-help span{
    font-family: "helvitca-regular";
	font-size:16px;
	color:#706f6f;
}
.status-help ul li{
vertical-align:middle;
padding-left:10px;
padding-right:10px;
}
.status-help ul li:last-child{
    text-align:left;
}

.freesim-order-form .control-label{
display:none;}

form-item form-item-condition1 form-type-checkbox checkbox */