@font-face {
  font-family: 'helvitca-bold';
  src: url('../fonts/helvitca/bold.eot');
  src: url('../fonts/helvitca/bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/bold.woff') format('woff'),
       url('../fonts/helvitca/bold.ttf')  format('truetype'),
       url('../fonts/helvitca/bold.svg#helvitca-bold') format('svg');
		font-weight: 400;
		font-style:normal;
}
@font-face {
  font-family: 'helvitca-light';
  src: url('../fonts/helvitca/light.eot');
  src: url('../fonts/helvitca/light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/light.woff') format('woff'),
       url('../fonts/helvitca/light.ttf')  format('truetype'),
       url('../fonts/helvitca/light.svg#helvitca-light') format('svg');
	   font-weight: 400;
	   font-style:normal;
}
@font-face {
  font-family: 'helvitca-regular';
  src: url('../fonts/helvitca/regular.eot');
  src: url('../fonts/helvitca/regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/regular.woff') format('woff'),
       url('../fonts/helvitca/regular.ttf')  format('truetype'),
       url('../fonts/helvitca/regular.svg#helvitca-regular') format('svg');
		font-weight: 400;
		font-style:normal;
}

@font-face {
  font-family: 'helvitca-medium';
  src: url('../fonts/helvitca/medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvitca/medium.woff') format('woff'),
  url('../fonts/helvitca/medium.ttf')  format('truetype'),
  url('../fonts/helvitca/medium.svg#helvitca-medium') format('svg');
	font-weight: 400;
	font-style:normal;
}
@font-face {
  font-family: 'helvitca-condensed';
  src: url('../fonts/helvitca/condensed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvitca/condensed.woff') format('woff'),
  url('../fonts/helvitca/condensed.ttf')  format('truetype'),
  url('../fonts/helvitca/condensed.svg#helvitca-condensed') format('svg');
	font-weight: 400;
	font-style:normal;
}
a, a:hover,a:focus{
outline:0 !important;
text-decoration:none !important;
}

/*
===============================
********* HOME PAGE *********** 
===============================
*/
  
/********************************* COMMON *******************************************/

#navbar .navbar-nav.secondary{
margin-top:0;
margin-bottom:20px;
}
.main-container {
padding-top:30px;
}

.bg-grey{
background-color:#f2f2f2 !important;
}
.bg-grey-md{
background-color:#dadada !important;
}
.bg-grey-dark{
background-color:#9d9d9c !important;
}
.bg-voilet{
background-color:#73559e !important;
}
.bg-blue{
background-color:#009fe3 !important;
}
.bg-blue-dark{
background-color:#29235c !important;
}
.bg-pink{
background-color:#e6007e !important;
}
.panel-default  > .panel-heading{
font-family:"helvitca-medium" !important;
font-size:30px !important;
color:#fff !important;
font-weight:400 !important;
}
.panel-default  > .panel-heading.bg-grey-md.panel-sm{
font-family:"helvitca-bold" !important;
font-size:18px !important;
color:#706f6f !important;
font-weight:400 !important;
text-transform:uppercase;
}
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border:0 !important;
    border-radius:0 !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	position:relative;
}
.panel-heading{
border-top-right-radius:0 !important;
border-top-left-radius:0 !important;
padding: 20px 15px 20px 15px !important;
border-bottom:0 !important;
}
.panel-footer {
    padding: 10px 15px 10px 15px; 
    background-color: #fff !important;
    border-top:0px !important;
    border-bottom-right-radius:0!important;
    border-bottom-left-radius:0!important;
}
.captcha.panel .panel-heading {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding: 0 !important;
    border-bottom: 0 !important;
	background:transparent;
	border:0;
	color:#333333 !important;
}
.captcha.panel .panel-body {
 padding:0;
}
.btn-blue{
font-size:24px !important;
font-family:'helvitca-medium' !important;
background:#009fe3 !important;
border:0 !important;
color:#fff !important;
border-radius:15px !important;
padding:6px 25px 6px 25px !important;
box-shadow:3px 3px 3px #6b6b6b;
}
.btn-grey{
font-size:24px !important;
font-family:'helvitca-medium' !important;
background:#c6c6c6 !important;
border:0 !important;
color:#fff !important;
border-radius:15px !important;
padding:6px 25px 6px 25px !important;
box-shadow:3px 3px 3px #6b6b6b;
}
.btn-grey-dark{
color:#fff !important;
font-size:24px !important;
font-family:'helvitca-medium' !important;
background:#9d9d9c!important;
border:0 !important;
border-radius:15px !important;
padding:6px 25px 6px 25px !important;
box-shadow:3px 3px 3px #6b6b6b;
}
.btn-voilet{
color:#fff !important;
font-size:24px !important;
font-family:'helvitca-medium' !important;
background:#73559e !important;
border:0 !important;
border-radius:15px !important;
padding:6px 25px 6px 25px !important;
box-shadow:3px 3px 3px #6b6b6b;
}
.text-voilet{
color:#73559e;
}
.text-blue{
color:#009fe3;
}

.table_1 > thead > tr > td, .table_1 > tbody > tr > td, .table_1 > tfoot > tr > td {
    border:0 !important;
}
.table_2 > thead > tr > td, .table_2 > tbody > tr > td, .table_2 > tfoot > tr > td {
    border:0 !important;
}

.errormsg{
  color: #cb0b06;
  font-family: "helvitca-regular";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}
.alert .close{display:none;}
.ajax-progress{margin-left:10px;}
.modal-header {
   border-bottom:0 !important;
}
.alert{
text-align:left;
}
/******************************************top Section********************************************/

#top-bar .list-inline > li > a  > .fa{
font-size: 14px;
background: #fff;
border-radius: 22px;
padding: 5px;
width: 22px;
height: 22px;
color: #575756;
}
#top-bar .list-inline > li {
padding:5px 0 5px 0;
}
#top-bar .list-inline {
float:left;
margin-bottom:0;
}

#top-bar.navbar-inverse .navbar-nav.rgt > li > a  {
 color:#fff;
  font-family: 'helvitca-regular';
  font-size:14px;
}
#top-bar.navbar-inverse {
    background-color: #575756;
    border-color:transparent;
	border:0;
	border-radius:0;
}
#top-bar .menu  > li {
    float: left;
	border-right:1px solid #fff;
}

#top-bar .menu > li:last-child{
	border-right:0;
	
}
#top-bar.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom:15px; 
    border: 1px solid transparent;
}
#top-bar .list-inline  > li > a {
  padding:0 4px 0 4px;
  display:block;
 }
 #language_switcher .menu{
 float: right !important;
margin-right: 0px;
 }
 #top-bar.navbar-inverse .menu > li > a , #top-bar.navbar-inverse .menu > li > a:hover, #top-bar.navbar-inverse .menu > li > a:focus{
    color: #fff;
    font-family: 'helvitca-regular';
    font-size: 14px;
	background:transparent;
}
 #top-bar .menu > li > a {
    padding: 0px 15px 0px 15px;
    margin: 0;
}
 #top-bar .region-language-switcher .block{
display:inline-block;
vertical-align:top;
}
 #top-bar .lang_dropdown_form{
position:relative;
} 
#top-bar .form-item-lang-dropdown-select .form-control{
height: 20px;
padding:0;
width:auto !important;
font-family: 'helvitca-light';
line-height:17px;
min-width: 110px;
text-indent:20px;
-webkit-appearance:text-field;
}

#top-bar .form-item-lang-dropdown-select:after {
 position:relative;
 display:block;
 margin-bottom:0;
}
.language-icon{
position:absolute;
top:6px;
left:5px;
}
.navbar_1 #language_switcher{
padding-top:5px;
padding-bottom:5px;
}
#language_switcher .block:nth-child(-n+1){
float:left;
}
#language_switcher .block:nth-child(n+3){
float:right;
}
#language_switcher .block:first-child a{
color:#575756;
height:22px;
width:22px;
background:#fff;
display:block;
text-align: center;
float:left;
margin-right:10px;
border-radius:25px;
line-height: 1.5;

}
#language_switcher .fa {
font-size: 14px;
vertical-align:middle;
text-align: center;
padding-left: 3px;
}
#language_switcher .block:nth-child(2){
color:#fff;
margin-left:20px;
}

/***********************************************navigation menu***************************************************/

#navbar .navbar-header {
    float: none;
	text-align:center;
}
#navbar  .logo {
width:216px;
height:auto;
display:block;
padding:0;
margin: 0 auto;
}
#navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
	margin-bottom:0;
	border:0;	
}
#navbar .nav > li {
    position: relative;
    display: inline-block;
	float:none;
}
#navbar .navbar-nav {
    float: none;
    margin: 15px 0 20px 0;
    text-align: center;
}
.caret:before{content:"\f107";line-height: 0;}
.caret {
    display: inline-block !important;
    width:10px !important;
    height: 14px !important;
    margin-left: 2px !important;
    vertical-align: middle !important;
    line-height: 0 !important;
    border:0 !important;
	border-right:0 !important;
	border-left:0 !important;
	border-top:0 !important;
	border-bottom:0 !important;
	font:normal normal normal 14px/1 FontAwesome !important;
	font-size:14px !important;
	text-rendering:auto !important;
	-webkit-font-smoothing !important;
	antialiased;-moz-osx-font-smoothing:grayscale
}

#navbar .nav .dropdown-menu li a {
    color: #ffffff;
	font-family: 'helvitca-light';
	font-size:16px;
	border-left: 3px solid transparent;
	padding: 6px 20px 6px 20px;
}
#navbar .navbar-nav > li > a {
    font-family: 'helvitca-light';
    font-size: 18px;
    padding:10px 10px 10px 10px;
    font-weight: 400;
	color: #9d9d9c;
	position:relative;
}


#top-bar.navbar-inverse .navbar-toggle {
    border-color:transparent;
}
#top-bar .navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
}
#top-bar .navbar-toggle .icon-bar + .icon-bar {
    margin-top:5px;
}
/************************************************ carousel section ************************************/


#header_banner{
position:relative;
height:405px;
overflow:hidden;
}


#header_banner  img{
margin:0 auto;
display:block;
width:100%;
}
#header_banner  picture{
display:block;
}

#header_banner > .container.title-banner{
position:absolute;
top:0;
right:0;
left:0;
z-index:1;
}
#home_page_slider .theme-default .nivo-controlNav {
    text-align: center;
    padding: 15px 0 15px 0;
}
#home_page_slider{position:relative;}
.slider-controls a{
color:#706E6F;
padding-left:5px;
cursor:pointer;
}
.slider-controls{
width:auto;
position:absolute;
bottom:15px;
right:5px;
}

/************************************************ module section ************************************/

.panel-header a{
font-family:'helvitca-bold';
font-size:20px;
color:#009fe3;
}
.module-menu {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,ededed+30,ededed+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+37,f2f2f2+37,f2f2f2+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 37%, #f2f2f2 37%, #f2f2f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 37%,#f2f2f2 37%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 37%,#f2f2f2 37%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
padding:30px 0 30px 0;
}

.module-menu p {
font-family: 'helvitca-light';
font-size:15px;
color:#29235c;
margin-bottom:45px !important;
}

.module-menu a,.module-menu a:hover{
text-decoration:none;
padding-right: 18px;
padding-left: 18px;
display: block;
}

.module-menu strong {
    color: #73559e;
    font-size: 30px;
    font-family: 'helvitca-bold';
    display: block;
    line-height: 1.1;
    margin-top: 25px;
}
.module-menu  span {
    color: #73559e;
    font-size: 18px;
    display: block;
	font-family: 'helvitca-bold';
}
.column{
 float:left;
 
 }
 .column img{
height:98px !important;
width:auto;
 
 }
 .panel-header{
 margin-top:0;
 }
  
 /****************************************** order section ***********************************************/
 
.order-section p{
font-size:24px;
font-family: 'helvitca-regular';
color:#009fe3;
margin: 15px 0 25px 0 !important;
}
.order-section {
padding-top:40px;
}

 /******************************************** rates section **********************************************/

.home-best-rates .top-wrapper > img{
position:absolute;
right:15%;
top:-5px;
}
.home-best-rates .top-wrapper {
position:relative;
}
.home-best-rates h1 {
    font-family: 'helvitca-bold';
    font-size: 30px;
    color: #73559e;
    margin-top: 0;
} 
.home-best-rates h4 {
    font-family: 'helvitca-medium';
    font-size: 18px;
    color: #73559e;
    margin-top: 0;
} 
.home-best-rates h4 strong {
    font-family: 'helvitca-bold';
	font-weight:400;
} 
.home-best-rates h3 {
    font-family: 'helvitca-light';
    font-size:20px;
    color: #29235c;
    margin-bottom: 0;
} 
.home-best-rates p {
    font-family: 'helvitca-bold';
    font-size: 18px;
    color: #29235c;
}
.home-best-rates li > span {
    display: block;
    font-size: 36px;
    font-family: 'helvitca-light';
    color: #29235c;
    margin-top:5px;
}
.home-best-rates .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    width: 105px;
}

/**************************************** country section ***************************************/

.home-best-rates{
padding-top:20px;
padding-bottom:20px;
}

.home-international-calls{
padding: 15px 15px 25px 15px;
}
.home-international-calls h1 {
    font-size:30px;
    font-family: 'helvitca-bold';
    color: #fff;
	margin-top:10px;
}
.home-international-calls p {
    font-size: 18px;
    font-family: 'helvitca-light';
    color: #fff;
    margin-bottom:30px;
}
.home-international-calls .form-item{
    width: 635px;
    margin: 0 auto 20px auto;
	position:relative;
}
.home-international-calls .form-control {
    font-size: 25px;
    font-family: 'helvitca-bold';
    border-radius: 16px;
    height: 40px;
    padding: 0px 28px 0px 28px;
	display:table-cell;
	vertical-align:middle;
	line-height:1;
    color: #706f6f;
    -webkit-appearance: none;
    -moz-appearance: none;
	
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

.home-international-calls .form-item:after {
	content:"";
    position: absolute;
    width: 0;
    height: 0;
    right: 25px;
    top: 12px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 17px #706e6f solid;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
.home-popular-bundles {
   padding: 25px 0px 0px 0px;
}
.home-popular-bundles h2.block-title {
    font-size:30px;
    font-family: 'helvitca-bold';
    color: #fff;
}
.home-popular-bundles header h2{
margin-bottom:0;
}
.home-popular-bundles h2  a{
    color: #fff;
}
.home-popular-bundles .quicktabs-tabs  {
    border-bottom: 0;
}
.home-popular-bundles .quicktabs-tabs  {
    display: table;
    width: 100%;
	padding-left: 0;
	margin-bottom:30px;
}
.home-popular-bundles .quicktabs-tabs  > li {
    display: inline-block;
    float: none;
}

.home-popular-bundles .quicktabs-tabs  > li.active  > a,
.home-popular-bundles .quicktabs-tabs  > li.active > a:focus,
.home-popular-bundles .quicktabs-tabs  > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #28235d;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    font-family: 'helvitca-bold';
 /*    font-size: 24px; */
}
.home-popular-bundles .quicktabs-tabs > li > a {
    color: #9d9d9c;
    position: relative;
    display: block;
    padding:3px 20px 3px 20px;
    background-color: #f6f6f6;
    font-family: 'helvitca-bold';
    font-size: 24px;
    margin: 0 6px;
}
.home-popular-bundles  .quicktabs-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 13px;

}
.home-popular-bundles .field-collection-container {
    border-bottom:0;
    margin-bottom:0;
}
.quicktabs_main{
background:#ededed;
}
.quicktabs_main h2 a{
color:#29235c;
font-family: 'helvitca-bold';
font-size: 30px;
}
.quicktabs_main .field-collection-container  > .field  > .field-items  > .field-item{
width:33.33%;
float:left;
display:block;
}
.quicktabs_main .field-collection-container  > .field  > .field-items  > .field-item:nth-child(2n) .top-bundle-section {
background:#73559e;
}
.quicktabs_main .field-collection-container  > .field  > .field-items  > .field-item:nth-child(2n) .vectone-customer{
background:#73559e;
}
.quicktabs_main .field-collection-container  > .field  > .field-items  > .field-item:nth-child(3n) .top-bundle-section {
background:#29235c;
}
.quicktabs_main .field-collection-container  > .field  > .field-items  > .field-item:nth-child(3n) .vectone-customer {
background:#29235c;
}

.quicktabs_main .node-bundles{
width:1170px;
padding-left:15px;
padding-right:15px;
margin:0 auto;
}

.quicktabs_main .field-collection-container .field-name-field-bundle-rates{
padding:10px 20px 10px 20px;
display:block;
float:left;
width:100%;
}

.quicktabs_main .entity-field-collection-item {
background:#fff;
}
 .quicktabs_main .field-name-body .field-item{
display:none;
} 
.bundles-section .field-collection-view {
    padding: 0;
    margin: 0 0 20px 0;
}
.top-bundle-section,.bottom-bundle-section,.body-bundle-section{
float:left;
width:100%;
display:block;
}
.top-bundle-section .field{
color:#fff;
font-size:36px;
font-family: 'helvitca-bold';
padding:5px;
}
.top-bundle-section {
background:#009fe3;
}
/* 29235c */
.body-bundle-section .field{
color:#29235c;
font-size:30px;
font-family: 'helvitca-bold';
padding-top:15px;
}
.bottom-bundle-section .field{
color:#fff;
font-size:20px;
font-family: 'helvitca-bold';
}
.bottom-bundle-section span{
color:#fff;
font-size:12px;
font-family: 'helvitca-light';
display: block;
}
.body-bundle-section  span{
color:#29235c;
font-size:16px;
font-family: 'helvitca-light';
display: block;
}

.body-bundle-section .content{
line-height:1;
}
.quicktabs-wrapper .bottom-bundle-section .vectone-customer{
width:auto !important;
display:inline-block;
background:#009fe3;
padding:5px 20px 3px 20px;
margin-top:15px !important;
margin-bottom:15px
}
.field-collection-view {
 border-bottom:0 !important;
}

/************************Home free credit*********************************/

.home-freecredit-section .list-inline{
display:table;
width:50%;
float:left;
padding-left:15px;
padding-right:15px;
margin-top:15px;
margin-bottom:15px;
}
.home-freecredit-section .list-inline li{
display:table-cell;
padding-right:0;
padding-left:0;
vertical-align: middle;
}
.home-freecredit-section .list-inline:nth-child(odd) > li{
text-align:right;
}
.home-freecredit-section .list-inline:nth-child(odd) > li:last-child {
width:165px;
}
.home-freecredit-section .list-inline:nth-child(even) > li{
text-align:left;
}
.home-freecredit-section .list-inline:nth-child(even) > li:first-child {
width:165px;
}
.home-freecredit-section  h4{
    font-family: 'helvitca-bold';
    font-size: 24px;
}
.home-freecredit-section span{
    font-family: 'helvitca-regular';
    font-size: 20px;
}
.home-freecredit-section ul:first-child{
    color: #73559e;
}
.home-freecredit-section ul:nth-child(2){
    color: #29235c;
}
.home-freecredit-section ul:nth-child(3){
    color: #009fe3;
}
.home-freecredit-section ul:nth-child(4){
    color: #878787;
}
.free-credit-panel{padding:15px 0 15px 0;}
/************************vendor Section*********************************/
.vendor-section img{
width:100%;
}
.vendor-section a{
font-size:14px;
font-family: 'helvitca-regular';
color:#29235c;
text-decoration:underline !important;
}
/************************Free Sim Section*********************************/

.home-freesim-section {
    padding-top:65px;
    padding-bottom:65px;
}
.home-freesim-section a{
    font-family: 'helvitca-bold';
    font-size:30px;
    color: #009fe3;
	width: auto;
	text-align: left;
	padding: 8px 160px 8px 45px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #014461;
	position:relative;
}
.home-freesim-section a:hover{
    color: #fff;
	background-color:#e6007e;
	border-color:#e6007e;
}
.home-freesim-section  img{
position: absolute;
    top: -40px;
    right: 35px;
    height: 130px;
}
.home-topup-section{
    padding-top: 25px;
    padding-bottom: 25px;
    background: #ededed;
}
.home-topup-section ul > li{
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
	list-style:none;
}
.home-topup-section ul {
  padding:0;
}
.home-topup-section strong {
    font-size: 20px;
    font-family: 'helvitca-bold';
    display: block;
    color: #009fe3;
}
.home-topup-section span {
    font-size: 15px;
    font-family: 'helvitca-light';
    display: block;
    color: #706f6f;
}
.home-topup-section li:last-child strong {
    color: #73559e;
}
#vendor-section{
padding:40px 0 40px 0;
}
.footer{
background:#73559e;
margin-top:0 !important;
border-top:0 !important;
}
.main-container{padding-bottom:0px;}
.front .main-container{padding:0;}

@media (min-width:768px){
#navbar .navbar-nav > li > a.active-trail {
font-family: 'helvitca-regular';
color:#73559E;
}
.footer .dropdown-menu{
display:block;
position:relative;
background:transparent;
border:0;
box-shadow:none;
min-width:initial;
padding: 0;
margin: 0;
}

.footer ul li .caret{
display:none !important;
}
}
.footer  .dropdown-toggle{
font-family: 'helvitca-bold';
color: #fff;
}

.footer  .dropdown-menu a,.footer  .dropdown-menu a:hover,.footer  .dropdown-menu a:focus{
font-size:16px;
font-family: 'helvitca-light';
color: #fff;
background-color:transparent !important;
padding:0;
white-space:normal;
}
.footer .nav > li > a ,.footer .nav > li > a:hover,.footer .nav > li > a:focus {
    padding: 5px 0  5px 0;
	background:transparent;
	font-size: 16px;
}

#block-menu-menu-freesim-topup a,#block-menu-menu-about-us a{
font-family: 'helvitca-bold';
color: #fff;
}
#block-copyright-block-copyright-block{
 float:left;
 margin-top:10px;
 color:#fff;
 }
 #block-menu-menu-legal-menu-links{
  float:right;
 }
 #vectone_copyright_section{
 background:#575756;
 }
 
 #vectone_copyright_section ul li{
display:inline-block;

 } 
 #vectone_copyright_section ul li a{
color:#fff;
 } 
 #vectone_copyright_section ul li a:hover, #vectone_copyright_section ul li a:focus{
color:#fff;
background:transparent;
 }

/********************************** rates page ********************************************/

.table-wrapper{
padding:25px 0 25px 0;
}
.table-wrapper h1{
margin-top:0;
font-family:'helvitca-bold';
font-size:24px;
color:#73559e;
}
.table_1{
border:0;
margin-bottom:0 !important;
}
.table_1 > thead > tr > th{
border-top:0;
font-size:16px;
font-family:'helvitca-medium';
color:#73559e;
vertical-align: middle;
font-weight:400;
border-left:0;
border-right:0;
}
.table_1 > tbody > tr:first-child > td,.table_1 > tbody > tr:first-child > th{
color:#29235c;
font-weight: 400;
border-top:0;
}
.table_1 > tbody > tr:last-child > td,.table_1 > tbody > tr:last-child > th{
color:#73559e;
font-weight: 400;
border-top:0;
}
.table_1 > tbody > tr > td,.table_1 > tbody > tr > th{
color:#009fe3;
font-size:24px;
font-family:'helvitca-bold';
vertical-align: middle;
}
.table_1 > tbody > tr > th{
font-size:16px;
font-family:'helvitca-medium';
}
.table_1 > tbody > tr > td:last-child{
font-size:18px;
font-family:'helvitca-bold';
color:#fff;
text-align:center;
}
.table_1 > tbody > tr > td a{
width:100%;
display:block;
text-align:center; 
color:#fff;
background:#009fe3;
padding:15px 0 15px 0;
}
.table_1 > tbody > tr:first-child > td a{
background:#29235c;
}
.table_1 > tbody > tr:last-child > td a{
background:#73559e;
}

#rates-roaming-form .control-label{
display:none;
}
.roaming-rates  h1 {
    font-size: 30px;
    font-family: 'helvitca-bold';
    color: #fff;
    margin-top: 10px;
}
.roaming-rates{
    padding: 15px 15px 25px 15px;
}
.roaming-rates .form-item {
    width: 635px;
    margin: 0 auto 20px auto;
	position: relative; 
	display:block;
}
select::-ms-expand {
    display: none;
}
.roaming-rates .form-control {
    font-size: 25px;
    font-family: 'helvitca-bold';
    border-radius: 16px;
    height: 40px;
    padding: 0px 28px 0px 28px;
    color: #706f6f;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.roaming-rates .form-item:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 25px;
    top: 12px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 17px #706e6f solid;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
.roaming-result{
padding:30px 50px 30px 50px;
background:#fff;
}
.roaming-result h2{
margin:0;
font-family: 'helvitca-bold';
font-size:18px;
margin-top: 10px;
text-transform:uppercase;
}
.table_2{
border:0;
margin-bottom:0;
}
.table_2 thead th{
font-size:14px;
font-family: 'helvitca-medium';
text-transform:uppercase;
font-weight:400;
white-space: nowrap;
border-left:0 !important;
border-right:0 !important;
}
.table_2 tbody td {
font-size:24px;
font-family: 'helvitca-medium';
}
.table_2 tbody td:first-child {
width:320px;
}
.table_2 tbody td:last-child {
width:150px;
}
.table_2 tbody td {
width:140px;
}
.roaming-rates{
margin-top:30px;
}
.roaming-details strong{
color:#706f6f;
font-size:24px;
font-family: 'helvitca-medium';
font-weight:400;
display:block;
}

.roaming-details span{
color:#706f6f;
font-size:14px;
font-family: 'helvitca-regular';
display:block;
}
.roaming-details{
padding:35px 0 35px 0;
}
.roaming-steps h3{
font-size:24px;
color:#706f6f;
font-family: 'helvitca-medium';
}
.roaming-steps p{
font-size:14px;
color:#706f6f;
font-family: 'helvitca-regular';
margin-bottom:10px;
}
.roaming-steps p:last-child{
margin-bottom:30px;
}
.roaming-steps img{
margin-bottom:30px;
margin-top:20px;
}
.roaming-rates p{
color:#fff !important;
font-family: 'helvitca-regular';
font-size:14px;
}
#rates-international-smartrates-form  .table_1 > tbody > tr > th {
    font-size: 24px;
    font-family: 'helvitca-bold';
}
#div-international-rates h2 {
    margin-bottom:10px;
    font-family: 'helvitca-bold';
    color: #73559e;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}
#div-international-rates .panel-body{
padding:30px 50px 30px 50px;
}

/********************************** site map page********************************************/

#sitemap-section .dropdown-menu{
display:block;
position:relative;
border-radius:0;
border:0;
box-shadow:none;
z-index: 0;
padding:0;
margin: 0;
}
#sitemap-section  ul.menu > li{
display:block;
width:25%;
float:left;
}
.view-delight-mobile-sitemap{
background:#ededed;
padding:25px 75px 25px 75px;
}

#sitemap-section .panel-body{
padding:50px 85px 50px 85px;
}
#sitemap-section {
padding-bottom:30px;
}


/********************************** legal page********************************************/

.legal-pages .menu > li > a ,.legal-pages .menu > li > a:hover,.legal-pages .menu > li > a:focus{
font-family:"helvitca-medium";
font-size:18px;
color:#6e5ea6;
background:transparent;
padding: 0px 15px 0px 15px;
}
.legal-pages .dropdown-menu > li > a ,.legal-pages  .dropdown-menu > li > a:hover,.legal-pages  .dropdown-menu > li > a:focus{
font-family:"helvitca-regular";
font-size:16px;
color:#706f6f;
background:transparent;
padding: 3px 15px 3px 15px;
}
.legal-pages .dropdown .caret{
display:none;
}
.legal-pages .page-header{
font-family:"helvitca-bold" !important;
font-size:42px !important;
color:#9d9d9c;
margin-top:0;
padding-bottom:0;
padding-left:75px;
}
.legal-pages .field-type-text-with-summary .field-item{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
.legal-pages .field-type-text-with-summary .field-item p{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
.legal-pages .field-type-text-with-summary .field-item strong{
color:#6e5ea6;
font-family:"helvitca-bold";
font-weight:400;
text-transform:uppercase;
font-size:16px;
 margin-top: 10px;
display: block;
}
.legal-pages .field-type-text-with-summary ol > li{
color:#6e5ea6;
}
.legal-pages .field-type-text-with-summary ol > li > ol {
list-style-type:lower-alpha;
}
.legal-pages .field-type-text-with-summary ol > li > ol > li ol {
list-style-type:lower-roman;
}
.legal-pages .field-type-text-with-summary ul > li{
color:#706f6f;
}
.legal-pages .field-type-text-with-summary .field-item  p strong{
color:#706f6f;
font-family:"helvitca-bold";
font-weight:400;
font-size:18px;
}
.legal-pages .field-type-text-with-summary .field-item  ol{
padding-left:20px;
}
.legal-pages .block-title{
color:#6e5ea6;
display:block;
text-align:center;
font-family:"helvitca-medium";
font-size:30px;
margin-bottom: 20px;
}
#block-views-delight-mobile-sitemap-block .views-field-title a{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}

/********************************** support page********************************************/

.vm-title{
width: 50%;
padding-left: 2%;
}
.vm-title h1{
font-size:42px;
font-family:"helvitca-bold";
font-weight:400;
color:#fff;
display:block;
margin-top:60px;

}
.vm-title strong{
font-size:24px;
font-family:"helvitca-medium";
font-weight:400;
color:#fff;
display:block;
/* margin-top: 60px; */
margin-top:35px;
}
.vm-title p{
font-size:18px;
font-family:"helvitca-light";
color:#fff;
margin-top:30px;
}
aside .nav > li > a {
    position: relative;
    display: block;
    padding:10px 15px 10px 15px;
	font-family:"helvitca-light";
	font-size:18px;
	color:#73559e;
}
aside .nav > li > a.active {
	color:#fff;
	font-size:18px;
	background:#73559e;
	font-family:"helvitca-regular";
}
aside .nav > li {
border-bottom:1px solid #cccccc;
}
aside .nav > li:last-child{
border-bottom:0;
}
aside .well {
border:0;
border-radius:0;
box-shadow:initial;
background-color: #fff;
padding: 15px;
}
#webform-section .field-name-field-support-icons{
width:25%;
display:inline-block;
}
#webform-section .field-name-field-support-description {
width:75%;
display:inline-block;
vertical-align:top;
color:#009fe3;
position: relative;
font-family:"helvitca-light";
font-size:20px;
padding-top:10px;
}
.contact p{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}

.write p{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
.contact .panel-body{
padding:20px 35px 20px 35px;
}
.write .panel-body{
padding:20px 35px 20px 35px;
}
.text-section p{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
.text-section .list-inline > li{
margin-bottom:5px;
}
 .webform-client-form .form-item{
 width:50%;
 padding-left:15px;
 padding-right:15px;
 float:left;
 display:block;
 }  
 .webform-client-form .form-item.webform-component-textarea{
 width:100%;
 }
 .webform-client-form  .form-actions{
 padding-left:15px;
 padding-right:15px;
 text-align:right;
 } 
 .webform-client-form  .form-actions .form-submit{
background:#706f6f;
color:#fff;
font-family: "helvitca-medium";
font-size:20px;
border-radius:20px;
padding:6px 20px 6px 20px;
border:0;
} 
 .webform-client-form .form-control{
border-radius:0;
 }
 

/********************************** faq page********************************************/

.faq-section .field-name-field-support-icons{
width:25%;
display:table-cell;
vertical-align:middle;
}
.faq-section .field-type-text-with-summary {
width:75%;
display:table-cell;
vertical-align:middle;
color:#009fe3;
position: relative;
font-family:"helvitca-light";
font-size:20px;
}
.faq-section .panel-body {
padding:30px 35px 30px 35px;
}
.faq-section .field-type-faqfield {
padding-top:20px;
}
.faq-section .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding:15px 30px 15px 30px;
    min-height: 0;
	border-radius:0;
	border:0;
	background:#ededed;
}
.faq-section .ui-accordion .ui-accordion-header-active {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    min-height: 0;
	border-radius:0;
	border:0;
	background:#73559e !important;
}
.faq-section .ui-state-active a,.faq-section .ui-state-active a:link,.faq-section .ui-state-active a:visited{
font-family:"helvitca-bold";
font-size:18px;
color:#fff !important;
}
.faq-section .ui-state-default a,.faq-section .ui-state-default a:link,.faq-section .ui-state-default a:visited {
font-size:16px;
font-family:"helvitca-bold";
color:#706f6f;
text-decoration: none;
text-transform:uppercase;
}
.faq-section .ui-widget-content{
border:0px;
}
.faq-section  .ui-accordion-header-icon{display:none;}
.faq-section .faqfield-answer {
font-size:16px;
font-family:"helvitca-regular";
color:#73559e;
}
.faq-section .faqfield-answer a {
font-family:"helvitca-medium";
color:#009fe3;
text-decoration:underline !important;
cursor:pointer;
}
.topup-locations p{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
.topup-locations ul li{
margin-bottom: 10px;
}
.faq-section .ui-accordion .ui-accordion-header {
    border: 0 !important;
	margin-bottom:5px;
}
/********************************** auto complete dropdown********************************************/

.ui-menu .ui-menu-item {
    padding: 5px 5px 5px 15px !important;
}
.ui-menu {
    list-style: outside none none;
    padding: 10px !important;
    margin: 0;
    display: block;
    outline: medium none;
    border-radius: 10px;
}
.ui-menu-item:hover,.ui-menu .ui-menu-item:focus{
    border-radius: 15px !important;
	background:#f2f2f2 !important;
	border:1px solid #ccc !important;
}

.ui-autocomplete {
    max-height:350px;
/*     overflow-y: scroll; */
    overflow-x: hidden;
}

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url(/sites/all/modules/contrib/jquery_update/replace/ui/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-front {
    z-index: 100;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border:1px solid #ccc !important;
	background:#f2f2f2  !important;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border:1px solid #ccc !important;
	background:#f2f2f2 !important;
	font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	text-decoration: none;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	text-decoration: none;
}
/********************************** support overview page********************************************/

.panel-support .field-name-field-support-icons{
width:25%;
display:table-cell;
vertical-align: middle;
}
.panel-support .field-type-text-with-summary{
    width: 75%;
    display: table-cell;
    vertical-align: middle;
    color: #009fe3;
    position: relative;
    font-family: "helvitca-light";
    font-size: 20px;
}
.panel-support p strong {
    font-family: "helvitca-bold";
}
.panel-support .panel-body {
padding:30px 40px 30px 40px;
}
.support-overview-section  .views-row{width:31%;margin-left:1%;margin-right:1%;float:left;display:block;}
.support-overview-section  .views-row img{display:inline-block;}
.support-overview-section  .views-row a{color:#fff;/* line-height:1; */display: table-cell;font-size:24px;
vertical-align: middle;    font-family: "helvitca-bold";}
.support-overview-section .region-vectone-support-overview-block .panel-heading {
/*     min-height: 100px; */
	padding:15px 15px !important;
	display:block;
	width:100%;
	line-height: 1;
	

}
.support-overview-section .region-vectone-support-overview-block .panel-heading span {
display:table;
width:100%;
vertical-align:middle;
height:50px;
}
.support-overview-section .region-vectone-support-overview-block .panel-body {
    min-height:210px;
}

 
/********************************** offer overview page********************************************/
 
 .offers-section .offers-overview-section .panel-footer p{
 color:#009fe3;
 font-family: "helvitca-light";
font-size:18px;
 }
 .offers-section .offers-overview-section .panel-heading a{
 color:#fff;
 font-size:24px !Important;
 line-height: 1.2;
 }
 .offers-section .offers-overview-section .panel-body img{
margin:0 auto;
 }
 .offers-section .offers-overview-section  .views-row a{
 color:#fff;
 display: table-cell;
vertical-align: middle;
}
.offers-section .offers-overview-section  .panel-heading {
	padding:15px 15px 15px 15px !important;
	display:block;
	width:100%;

}
.offers-section .offers-overview-section  .panel-heading span {
display:table;
width:100%;
vertical-align:middle;
height:70px;
}
.offers-section .offers-overview-section .panel-footer {
    min-height:130px;
	padding: 10px 30px 10px 30px;
}
.offers-section .offers-overview-section .panel-body {
    min-height:145px;
	padding:30px 10px 20px 10px;
}
.offers-section .offers-overview-section .panel {
 margin-bottom:20px;
}
/********************************** feature page********************************************/

 .features-overview-section .panel-footer p{
 color:#009fe3;
 font-family: "helvitca-light";
font-size:18px;
 }
 .features-overview-section .panel-heading a{
 color:#fff;
 font-size:24px !Important;
  font-family: "helvitca-bold";
 }
 .features-overview-section .panel-body img{
margin:0 auto;
 }

 .features-overview-section .views-row a{color:#fff;display: table-cell;
vertical-align: middle;}
.features-overview-section .panel-heading {
	/* min-height: 100px; */
	padding:15px 15px 15px 15p!important;
	display:block;
	width:100%;
	line-height: 1;

}
.features-overview-section .panel-heading span {
display:table;
width:100%;
vertical-align:middle;
height:40px;
}
.features-overview-section .panel-footer {
    min-height:130px;
	padding: 10px 30px 10px 30px;
}
.features-overview-section .panel-body {
    min-height:145px;
	padding:30px 10px 20px 10px;
}

/********************************** bundles page********************************************/

.bundles-section .list-inline {
    width: 100%;
    display: table;
    margin-left: 0;
    box-shadow: 1px 2px 4px #000;
    margin-bottom: 0px;
    overflow: hidden;
}
.bundles-section  .list-inline li.first {
    background: #73559e;
    width: 250px;
    border: 0;
    border-right: 30px solid #fff;
    position: relative;
}
.bundles-section .list-inline li {
    vertical-align: middle;
    display: table-cell;
    padding: 0;
	height: 195px;
    border-top: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-left: 14px solid #fff; 
	border-right: 7px solid #fff;
    background: #ededed;
}
.bundles-section .list-inline li + li{
    border-top: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-left: 7px solid #fff;
	border-right: 7px solid #fff;
}

.bundles-section  .list-inline article {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.bundles-section .list-inline li.last {
    background: #fff;
    line-height: 1.2;
}
.bundles-section .list-inline li:last-child {
    border-right: 20px solid #fff;
}
.bundles-section .list-inline li strong {
    font-family: 'helvitca-medium';
    font-size: 42px;
    color: #73559e;
    font-weight: 400;
    display: block;
}
.bundles-section .list-inline li span {
    font-family: 'helvitca-regular';
    font-size:18px;
    color: #73559e;
    line-height: 1em;
}
.bundles-section .list-inline li.first span{
    color: #fff;
	font-family: 'helvitca-light';
	font-size:16px;
}
.bundles-section .list-inline li.first h2 {
    font-family: 'helvitca-regular';
    font-size: 72px;
    color: #fff;
    margin-top: 0;
}
.bundles-section .list-inline li.first .field-name-field-vectone-customer{
    color: #fff;
	font-family: 'helvitca-medium';
	font-size:20px;
}

/********************************** ratse page********************************************/

.international-rates  .form-item {
    width: 425px;
    margin: 0 auto 20px auto;
    position: relative;
}

.international-rates  .form-control {
    font-size: 16px;
    font-family: 'helvitca-bold';
    border-radius: 12px;
    height: 30px;
    padding: 0px 28px 0px 28px;
    color: #706f6f;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.international-rates  .form-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 20px;
    top: 10px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 12px #706e6f solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.international-rates  p{
    color: #fff;
	font-family: 'helvitca-regular';
	font-size:16px;
	margin-bottom:15px;
}
.international-rates li p{
    color: #fff;
	font-family: 'helvitca-bold';
	font-size:12px;
	margin-bottom:15px;
}
.international-rates h1 {
    font-family: 'helvitca-bold';
    font-size:30px;
    color: #fff;
} 

.international-rates h3 {
    font-family: 'helvitca-light';
    font-size:16px;
    color: #fff;
	font-weight:400;
    margin-bottom: 0;
	
} 

.international-rates li > span {
    display: block;
    font-size: 30px;
    font-family: 'helvitca-light';
    color: #fff;
    margin-top:5px;
}
.international-rates .list-inline > li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
/*     width: 105px; */
}
.international-rates {
padding-top:20px;
padding-bottom:20px;
}
.bundle-selection {
padding:30px 0 30px 0;
}
.bundle-selection p{
    font-family: 'helvitca-regular';
	font-size:14px;
	color:#73559e;

}
.btn-saver,.btn-saver:hover{
background:#73559e;
color:#fff;
font-family: 'helvitca-bold';
font-size:16px;
border-radius:15px;
padding:3px 12px 3px 12px;
line-height:1.428571429;
}
.panel-heading span{
display:block;
color:#fff;
font-family: 'helvitca-regular';
font-size:16px;
}
.table_rates{
width:25% !important;
float:left;
margin-bottom:0 !important;
}
.table_rates thead th{
color:#73559e;
font-family: 'helvitca-medium';
font-size:14px;
text-align:center;
font-weight:400;
text-transform:uppercase;
}
.table_rates tr:first-child td{
color:#73559e;
font-family: 'helvitca-medium';
font-size:24px;
}
.table_rates > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #dddddd;
}
.table_rates > tbody > tr > td {
border-top:0;
border-right:20px solid #fff;
border-left:20px solid #fff;
padding:25px 20px 25px 20px;
}
.table_rates:first-child > tbody > tr:nth-child(2) > td:first-child {
background:#ededed;
color:#e6007e;
}
.table_rates > tbody > tr:nth-child(2) > td{
background:#e6007e;
color:#fff;
}
.table_rates > tbody > tr > td strong{
display:block;
font-family: 'helvitca-medium';
font-size:18px;
}
.table_rates > tbody > tr > td span{
display:block;
font-family: 'helvitca-medium';
}
.national-rates .panel-body{
padding:30px 100px 30px 100px;
}
.national-rates .panel-default > .panel-heading {
font-size:30px !important;
font-family: 'helvitca-bold' !important;
}
.payas-you-go {
padding:30px 0 30px 0;
}
.payas-you-go p{
	    font-family: 'helvitca-regular';
	font-size:14px;
	color:#009fe3;
}
.btn-paym-saver,.btn-paym-saver:hover{
background:#009fe3 !important;
color:#fff !important;
font-family: 'helvitca-bold'!important;
font-size:16px!important;
border-radius:15px!important; 	
padding:3px 12px 3px 12px!important;
line-height:1.428571429!important;
}
.bundle-content {
padding:45px;
}
.bundle-content  p{
color:#29235c;
font-family:'helvitca-regular';
font-size:15px;
}
.bundle-content ul li{
font-family:'helvitca-regular';
font-size:15px;
color:#29235c;
list-style:none;
}
.bundle-content ul{
padding-left:0;
}
.bundles-section  .bundle-content p{
margin-bottom:0;
}
.toggle-link{
cursor:pointer;
color:#009fe3;
font-size:15px;
font-family: 'helvitca-medium';
}
.page-node-39  .field-name-field-bundle-rates > .field-items > .field-item{
width:33.33%;
display:block;
float:left;
}
.page-node-39  .field-name-field-bundle-rates > .field-items > .field-item  + .field-item .field-collection-view{
margin-left:30px;
}
.page-node-39  .field-name-field-bundle-rates > .field-items > .field-item .entity{
background:#fff;
}

.page-node-322 .field-name-field-bundle-rates > .field-items > .field-item{
width:33.33%;
display:block;
float:left;
}
.page-node-322 .field-name-field-bundle-rates > .field-items > .field-item  + .field-item .field-collection-view{
margin-left:30px;
}
.page-node-322 .field-name-field-bundle-rates > .field-items > .field-item .entity{
background:#fff;
}

.page-node-118 .field-name-field-bundle-rates > .field-items > .field-item{
width:33.33%;
display:block;
float:left;
}
.page-node-118  .field-name-field-bundle-rates > .field-items > .field-item  + .field-item .field-collection-view{
margin-left:30px;
}
.page-node-118 .field-name-field-bundle-rates > .field-items > .field-item .entity{
background:#fff;
}
.top-data-bundle-section{
background:#73559e;
}
.top-data-bundle-section .field-name-field-bundle-price{
color:#fff;
font-family: 'helvitca-medium';
font-size:75px;
}
.top-data-bundle-section  .field-name-field-validity{
color:#f9b233;
font-family:'helvitca-light';
font-size:18px;
padding:0px 0 15px 0;
}
.top-data-bundle-section  .field-name-field-vectone-customer{
color:#fff;
font-family: 'helvitca-medium';
font-size:24px;
margin-bottom:15px;
display:block;
}
.top-data-bundle-section  {
color:#fff;
font-family:'helvitca-light';
font-size:15px;
display: block;
float: left;
width: 100%;
}
.body-data-bundle-section .data-field{
color:#73559e;
font-family: 'helvitca-bold';
font-size:50px;
float: left;
line-height:33px;
width: 100%;
padding:50px 20px 50px 20px;
}
.body-data-bundle-section .data-field span{
color:#73559e;
font-family: 'helvitca-light';
font-size:24px;
}
.field-collection-container {
    border-bottom:0 !important;
    margin-bottom:0;
}
.ctry li.active{
opacity:1;
}
.ctry li.inactive{
opacity:0.5;
}
/********************************** offers page********************************************/

.offers-section p{
color:#706f6f;
font-family: 'helvitca-regular';
font-size:16px;

}
.free-vectone .panel-body{
padding:60px 50px 60px 50px;
}
.free-vectone .panel-body .list-inline{
margin-top:30px;
}
.free-vectone .panel-body .list-inline span{
display:block;
font-family: 'helvitca-light';
font-size:14px;
color:#73559e;
margin-top:5px;
}
.offer-free-sim-section {
padding:40px 0 40px 0;
}
.offers-section .offer-free-sim-section p{
font-family: 'helvitca-light';
font-size:15px;
color:#29235c;
margin-top:25px;
}
.offers-free-vectone-calls .block-title{
color:#706f6f;
font-family: 'helvitca-regular';
font-size:30px;	
margin-bottom:30px;
margin-top:30px !important;

}
.offers-free-vectone-calls .panel-heading a{
color:#fff;
font-family: 'helvitca-bold';
font-size:30px;	
}
.offers-free-vectone-calls .panel img{
display:inline-block;
margin:15px 0;
}
.offers-free-vectone-calls .panel p{
font-family: 'helvitca-light';
font-size:18px;	
color:#009fe3;
}
.offers-free-vectone-calls .panel .panel-footer{
padding:0 30px 30px 30px;
}
.offers-section  .refer-friend ul{
margin-top:30px;
margin-bottom:30px;
}
.offers-section  .refer-friend ul li strong{
color:#009fe3;
font-family: 'helvitca-medium';
font-size:18px;	
display:block;
}
.offers-section  .refer-friend ul li span{
color:#706f6f;
font-family: 'helvitca-regular';
font-size:14px;	
display:block;
}
.offers-section  .refer-friend ul li{
width:29%;
border-right:1px solid #ccc;
}
.offers-section  .refer-friend ul li:last-child{
border-right:0;
}
.refer-options{
padding:30px;
}
.refer-options > h2{
margin:0;
font-family: 'helvitca-bold';
font-size:18px;	
color:#73559e;
}
.refer-options > p{
margin-bottom:15px;
margin-top:5px;
}
.offers-section  .panel-body{
padding:30px 35px 30px 35px;
}
.offers-section  .free-credit strong{
color:#009fe3;
font-size:18px;
font-family: 'helvitca-medium';	
}
.offers-section  .earn-bonus  strong{
color:#009fe3;
font-size:18px;
font-family: 'helvitca-medium';	
display:block;
}
.offers-section  .earn-bonus {
margin-top:20px;
}
.offers-section  .terms-conditions p{
color:#29235c;
font-size:16px;
font-family: 'helvitca-light';
}
.offers-section  .terms-conditions p a{
color:#009fe3;
cursor:pointer;
font-family: 'helvitca-bold';
}
.terms-conditions{
padding:20px 0 20px 0;
}
.offers-section  .panel-heading span {
    display: table;
    width: 100%;
    vertical-align: middle;
    height: 70px;
}
.offers-section .views-row a {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
	font-size: 24px !Important;
	font-family: 'helvitca-bold';
}
.flags-offer span{
    display: block;
    font-family: 'helvitca-light';
    font-size: 14px;
    color: #73559e;
    margin-top: 5px;
}
.flags-offer li{
margin-bottom:15px;
padding-left:10px;
padding-right:10px;
}
.flags-offer li:first-child {
    padding-left: 10px;
}
.flag-container{
background:#fff;
padding:10px 60px 40px 60px;
}
.offer-order-sim{
padding-bottom:30px;
}
.offer-order-sim .btn{
margin-top:40px;
margin-bottom:30px;
}
.offers-section  .offer-order-sim p{
font-family: 'helvitca-light';
font-size: 15px;
color: #29235c;

}
.offers-section  .offer-order-sim a{
cursor: pointer;
color: #009fe3;
font-size: 15px;
font-family: 'helvitca-medium';
}
.low-cost-panel.panel{
margin-bottom:0;
}


/********************************** features page ********************************************/

.android-details ul{
list-style-type:none;
padding-left:0;
display:block;
float:left;
width: 100%;
}
.android-details ul li{
display:block;
float:left;
text-align: left;
}
.android-details ul li p{
color:#706f6f;
font-size:18px;
font-family: 'helvitca-regular';
}
.android-details ul li:first-child{
width:25%;
}
.android-details ul li:last-child{
width:75%;
text-align:left;
}
 .android-app .panel-body{
 padding:35px 60px 35px 60px;
 }
 .android-options{
 text-align:left;
margin-bottom:35px;
 }
.features-section .android-options h1{
font-size:18px;
font-family: 'helvitca-medium';
color:#fff;
font-weight:400;
margin-top:0;
float:left;
 }
.features-section .android-options p{
font-size:14px;
font-family: 'helvitca-regular';
color:#fff;
font-weight:400;
float:left;
 } 
.features-section .android-options article{
display:block;
float:left;
width:100%;
 } 
.features-section .android-options span{
display:block;
width:75px;
float:left;
 }

 .android-options .col-sm-6{
 min-height:250px;
 padding:50px;
 }
 .sports-news .button {
 font-size:16px;
 color:#fff !important;
 font-family: 'helvitca-bold';
 border-radius:15px;
 padding:6px 12px 6px 12px;
 }
 
 .sports-news ul li{
 display:block;
 width:100%;
 }

  .sports-news ul li .fa {
    display:inline-block;
	 line-height:inherit;
	 font-size:inherit;
	}
 .sports-news ul{
 display:table;
 width:400px;
 margin:0 auto;} 
 .sports-news .panel-body{
padding:40px 20px 40px 20px;
 } 
 .sports-news p{
color:#706f6f;
font-size:16px;
font-family: 'helvitca-regular';
 }
.sports-content p {
    color: #706f6f;
    font-size: 16px;
    font-family: 'helvitca-bold';
}
.sports-content{
margin-bottom:35px;
}
.supporting-county-section h3{
font-size:24px;
color:#73559e;
font-family: "helvitca-medium";
margin-bottom:20px;
margin-top: 10px;
}
.supporting-county-section ul li  {
margin-bottom:20px;
padding-right: 10px;
padding-left: 10px;
}
.supporting-county-section ul li span {
display:block;
color:#73559e;
font-family: "helvitca-light";
font-size:14px;
margin-top:5px;
}
.cheap-call-body-content-section .panel-body{
padding:30px 45px 10px 45px;
}
.features-operator-section p{
color:#706f6f;
font-family: "helvitca-regular";
font-size:16px;
margin-bottom:15px;

}
#div-operators-list{
padding:30px 45px 30px 45px;
display: block;
float: left;
width: 100%;
}
#div-operators-list li{
    display: block;
    width: 23%;
    float: left;
    background: #fff;
    padding: 10px;
    font-family: "helvitca-regular";
    font-size: 12px;
    color: #706f6f;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
	min-height:40px;
}
.dst_country_list + p{
margin-top:20px;
}
.features-operator-section .panel-body{
padding:30px;
}
.features-operator-section .panel-body .list-inline{
display:table;
width:100%;
table-layout:fixed;
}
.features-operator-section .panel-body .list-inline > li {
    display: table-cell;
}
.features-operator-section .panel-body .list-inline > li:first-child {
    background:#72559F;
	border-right:5px solid #fff;
}
.features-operator-section .panel-body .list-inline > li:last-child {
    background:#0F8B38;
	border-left:5px solid #fff;
}
.features-operator-section .roaming-rates {
    margin-top:10px;
}
 .features-section .field-name-field-terms-and-conditions{
 margin-bottom:35px;
 margin-top:20px;
 }
 .features-section p{
 color: #706f6f;
font-family: "helvitca-regular";
font-size: 16px;
 }
.title-head{
color:#706f6f;
font-family: "helvitca-medium";
font-size: 24px;
margin-bottom:30px;
margin-top:5px;
}
 .credit-details{
 text-align:left;
 } 
 .credit-details ol{
padding-left:20px;
 } 
 .credit-details strong{
font-family: "helvitca-medium";
font-size:16px;
font-weight:400;
color:#009fe3;
margin-bottom:10px;
display:block;
 } 
 .credit-details li{
font-family: "helvitca-regular";
font-size:14px;
font-weight:400;
color:#706f6f;
 } 
 .credit-details .panel-body{
padding:40px 30px 40px 30px; 
 }
 .features-section .field-name-field-terms-and-conditions p{
 font-family: "helvitca-light";
font-size:14px;
color:#29235c;

 } 
 .features-section .field-name-field-terms-and-conditions a{
 font-family: "helvitca-bold";
color:#009fe3;
cursor:pointer;
 }
.android.list-inline li:first-child{
padding-left:10px;
}
.android.list-inline li {
margin-bottom:15px;
padding-right:10px;
padding-left:10px;
}  
.android.list-inline li img{
height:auto !important;
} 
.iphone.list-inline li:first-child{
padding-left:10px;
}
.iphone.list-inline li {
margin-bottom:15px;
padding-right:10px;
padding-left:10px;
}  
.iphone.list-inline li img{
height:auto !important;
}
/********************************** Cheap call rates page ********************************************/


#header_banner.banner-cheapcall-rates{
overflow:inherit;
height:570px;
float:left;
width:100%;
}

#header_banner.banner-cheapcall-rates  .vm-title {
    width: 100%;
    padding-left: 2%;
}
#header_banner.banner-cheapcall-rates .vm-title strong {
    margin-top: 15px;
}
#header_banner.banner-cheapcall-rates .seo-sim-section #edit-reg-title img{
width:100%;
height: auto;
position: relative;
}
.seo-sim-section{
width:100%;
margin-top:60px;
z-index:2;
position: relative;
padding:20px;
background:#009fe3;
}
.seo-sim-section #edit-reg-title{
margin-bottom:0;
}

.seo-sim-section .form-type-textfield .control-label{
display:none;
}
.seo-sim-section .panel-body{
padding:45px 40px 20px 40px;
}
.seo-sim-section .form-control{
background:#f6f6f6;
border:0;
font-size:20px;
height:40px;
color:#989797;
box-shadow:initial;
 font-family: "helvitca-regular";
}
.seo-sim-section .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#706f6f;
  opacity:0.7;
}
.seo-sim-section .form-control::-moz-placeholder { /* Firefox 19+ */
  color:#706f6f;
  opacity:0.7;
}
.seo-sim-section .form-control:-ms-input-placeholder { /* IE 10+ */
  color:#706f6f;
  opacity:0.7;
}
.seo-sim-section .form-control:-moz-placeholder { /* Firefox 18- */
  color:#706f6f;
  opacity:0.7;
}
.seo-sim-section .freesim-order-form .list-inline > li:first-child {
    width:70%;
	text-align:left;
	font-family: "helvitca-regular";
	font-size:12px;
	color:#706f6f;
}
.seo-sim-section .freesim-order-form .list-inline > li:last-child {
    width:30%;
	text-align:left;
}
.seo-sim-section .freesim-order-form .list-inline > li{
vertical-align:top;
}
.seo-sim-section .freesim-order-form .list-inline {
margin-bottom:0;
}
.seo-sim-section .cheap-call-rates-section {
width:100%;
float:left;
display:block;
}
.seo-sim-section .freesim-order-form ul li .form-group {
    margin-bottom:0px;
}
#header_banner.banner-cheapcall-rates  #edit-free-delivery img{
height:35px;
width:auto;
position:relative;
}
.seo-sim-section .freesim-order-form {
    margin-bottom:0px;
}
.seo-sim-section .block-freesim{
box-shadow: 1px 1px 10px #000;
}
.seo-sim-section .panel{
margin-bottom:0;
}
.cheap-calls-rate{
min-height:540px;
float:left;
display:block;
width:100%;
}
.cheap-call-rates-section,.node-type-cheap-call-rates .home-freesim-section ,.node-type-cheap-call-rates .footer,.node-type-cheap-call-rates  #vectone_copyright_section,.cheap-call-body-content-section{
float:left;
width:100%;
display:block;
}
.cheap-calls-rate h2{
	font-family: "helvitca-bold";
	font-size:20px;
	text-transform:uppercase;
	color:#73559e;
	margin-top: 60px;
	margin-bottom: 30px;
}
.cheap-calls-rate li  h1{
	font-family: "helvitca-medium";
	font-size:70px;
}
.cheap-calls-rate ul li{
width:50%;
float:left;
}
.cheap-calls-rate ul {
display:block;
}
.cheap-calls-rate li strong{
	font-family: "helvitca-medium";
	font-size:40px;
	display:block;
	font-weight:400;
}
.cheap-calls-rate li span{
	font-family: "helvitca-bold";
	font-size:18px;
	text-transform:uppercase;
	display:block;
}
.cheap-calls-rate li:first-child {
	color:#29235c;
}
.cheap-calls-rate li:last-child {
	color:#009fe3;
} 
.cheapcall_flag {
margin-top:40px;
}
.cheapcall_flag img{
margin-left:15px;
margin-right:15px;
}
.cheapcalls-details strong{
	font-family: "helvitca-bold";
	font-size:16px;
	color:#73559e;
}
.cheapcalls-details p{
	font-family: "helvitca-regular";
	font-size:16px;
	color:#706f6f;
	margin-bottom:15px;
}
.cheapcalls-details .col-sm-2{
text-align:center;
min-height:120px;
}
.cheapcalls-details img{
display:inline-block;
vertical-align:bottom;
}
.read-more-cheapcalls strong{
	font-family: "helvitca-bold";
	font-size:16px;
	color:#73559e;
	margin-bottom:10px;
	display:block;
}
.read-more-cheapcalls p{
	font-family: "helvitca-regular";
	font-size:16px;
	color:#706f6f;
	margin-bottom:0;
}
.read-more-cheapcalls{
padding:30px;
text-align:left;
}
#edit-mob-discursion label{
display:block;
}
.input-group-addon:empty{display:none}
.input-group{width:100%;}
@media (min-width:768px){
.mobile{
display:none !important;
}
}

@media (max-width:991px){
.social-media .top .block:nth-child(even){
display:none;
}
.social-media .bottom .block:nth-child(n+2){
display:none;
}
.social-media .top .block:first-child{
display:none;
}
.navbar_2 .navbar-toggle {
    display:block;
	padding: 6px 6px 6px 6px;
	
}
#navbar .navbar-collapse.collapse {
    display:none !important;
    height:0 !important;
    padding-bottom:0;
    overflow: visible !important;
}
#language_switcher .block:nth-child(-n+3) {
    display: none;
}
#language_switcher .block:nth-child(n+3) {
 float:left;
}
#navbar .navbar-collapse .nav > li {
    position: relative;
    display:block;
    float: none;
	text-align:left;
}
#navbar.navbar-default .navbar-nav > .dropdown > a .caret {
    float: right;
}
#navbar .form-item-lang-dropdown-select .form-control {
    height: 20px;
    padding:0;
    width: auto !important;
    font-family: 'helvitca-light';
    line-height:1;
	min-width: 110px;
	text-indent: 20px;
   -webkit-appearance: menulist-button;

}
#navbar .lang_dropdown_form {
    position: relative;
	display: inline-block;
}
.top-menu{
display:table-cell!important;
 width:50% !important;
 vertical-align: bottom;

}
 .top-menu:first-child{
text-align:left;
}
.top-menu:last-child{
text-align:right;
} 

#navbar .navbar-header{
margin:15px 0;
display:table;
width:100%;
table-layout:fixed;
}
.social-media .fa {
    font-size: 16px;
    background: #575756;
    border-radius: 30px;
    padding: 5px;
    width: 28px;
    height: 28px;
    color: #fff;
	text-align: center;
}
.social-media .top{
margin-bottom:10px;
}

}

#replace_validation_div ul {
	padding-left:5px;
}
#replace_validation_div .messages{
	text-align:left;
	list-style: none;
}
.loader-bg{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:rgba(255, 255, 255, 0.7);
	z-index:999;
	height:100%;
	width:100%;
}
.cssload-container * {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.cssload-container {
	margin:-78px auto 0 auto;
	max-width: 545px;
	position:relative;
	top:50%;	
}

.cssload-container ul li{
    list-style: none;
}

.cssload-flex-container {
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: row;
	-o-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	justify-content: space-around;
	padding-left:0;
}
.cssload-flex-container li {
	padding: 10px;
	height: 97px;
	width: 97px;
	margin: 29px 19px;
	position: relative;
	text-align: center;
}

.cssload-loading-center {
	display: inline-block;
	position: absolute;
	background: rgb(115,85,158);
	height: 29px;
	width: 29px;
	left: 35px;
	top: 36px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	animation: pulse 0.8s ease infinite;
	-o-animation: pulse 0.8s ease infinite;
	-ms-animation: pulse 0.8s ease infinite;
	-webkit-animation: pulse 0.8s ease infinite;
	-moz-animation: pulse 0.8s ease infinite;
}

.cssload-loading {
	display: inline-block;
	position: relative;
	width: 73px;
	height: 73px;
	margin-top: 3px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.cssload-loading:after, .cssload-loading:before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	top: 0;
	background: rgb(0,159,227);
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	animation-delay: -.4s;
	-o-animation-delay: -.4s;
	-ms-animation-delay: -.4s;
	-webkit-animation-delay: -.4s;
	-moz-animation-delay: -.4s;
}
.cssload-loading:after {
	right: 0;
	animation: square-tr 1.6s ease infinite;
	-o-animation: square-tr 1.6s ease infinite;
	-ms-animation: square-tr 1.6s ease infinite;
	-webkit-animation: square-tr 1.6s ease infinite;
	-moz-animation: square-tr 1.6s ease infinite;
	animation-delay: .100s;
	-o-animation-delay: .100s;
	-ms-animation-delay: .100s;
	-webkit-animation-delay: .100s;
	-moz-animation-delay: .100s;
}
.cssload-loading:before {
	animation: square-tl 1.6s ease infinite;
	-o-animation: square-tl 1.6s ease infinite;
	-ms-animation: square-tl 1.6s ease infinite;
	-webkit-animation: square-tl 1.6s ease infinite;
	-moz-animation: square-tl 1.6s ease infinite;
	animation-delay: .100s;
	-o-animation-delay: .100s;
	-ms-animation-delay: .100s;
	-webkit-animation-delay: .100s;
	-moz-animation-delay: .100s;
}

.cssload-loading.cssload-two {
	position: relative;
	top: -78px;
}
.cssload-loading.cssload-two:after, .cssload-loading.cssload-two:before {
	bottom: 0;
	top: initial;
}
.cssload-loading.cssload-two:after {
	animation: square-br 1.6s ease infinite;
	-o-animation: square-br 1.6s ease infinite;
	-ms-animation: square-br 1.6s ease infinite;
	-webkit-animation: square-br 1.6s ease infinite;
	-moz-animation: square-br 1.6s ease infinite;
	animation-direction: reverse;
	-o-animation-direction: reverse;
	-ms-animation-direction: reverse;
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
}
.cssload-loading.cssload-two:before {
	animation: square-bl 1.6s ease infinite;
	-o-animation: square-bl 1.6s ease infinite;
	-ms-animation: square-bl 1.6s ease infinite;
	-webkit-animation: square-bl 1.6s ease infinite;
	-moz-animation: square-bl 1.6s ease infinite;
	animation-direction: reverse;
	-o-animation-direction: reverse;
	-ms-animation-direction: reverse;
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
}


@keyframes square-tl {
                0% {
                                transform: translate(0, 0);
                }
                25% {
                                transform: translate(0, 60.5px);
                }
                50% {
                                transform: translate(60.5px, 60.5px);
                }
                75% {
                                transform: translate(60.5px, 0);
                }
}

@-o-keyframes square-tl {
                0% {
                                -o-transform: translate(0, 0);
                }
                25% {
                                -o-transform: translate(0, 60.5px);
                }
                50% {
                                -o-transform: translate(60.5px, 60.5px);
                }
                75% {
                                -o-transform: translate(60.5px, 0);
                }
}

@-ms-keyframes square-tl {
                0% {
                                -ms-transform: translate(0, 0);
                }
                25% {
                                -ms-transform: translate(0, 60.5px);
                }
                50% {
                                -ms-transform: translate(60.5px, 60.5px);
                }
                75% {
                                -ms-transform: translate(60.5px, 0);
                }
}

@-webkit-keyframes square-tl {
                0% {
                                -webkit-transform: translate(0, 0);
                }
                25% {
                                -webkit-transform: translate(0, 60.5px);
                }
                50% {
                                -webkit-transform: translate(60.5px, 60.5px);
                }
                75% {
                                -webkit-transform: translate(60.5px, 0);
                }
}

@-moz-keyframes square-tl {
                0% {
                                -moz-transform: translate(0, 0);
                }
                25% {
                                -moz-transform: translate(0, 60.5px);
                }
                50% {
                                -moz-transform: translate(60.5px, 60.5px);
                }
                75% {
                                -moz-transform: translate(60.5px, 0);
                }
}

@keyframes square-bl {
                0% {
                                transform: translate(0, 0);
                }
                25% {
                                transform: translate(0, -60.5px);
                }
                50% {
                                transform: translate(60.5px, -60.5px);
                }
                75% {
                                transform: translate(60.5px, 0);
                }
}

@-o-keyframes square-bl {
                0% {
                                -o-transform: translate(0, 0);
                }
                25% {
                                -o-transform: translate(0, -60.5px);
                }
                50% {
                                -o-transform: translate(60.5px, -60.5px);
                }
                75% {
                                -o-transform: translate(60.5px, 0);
                }
}

@-ms-keyframes square-bl {
                0% {
                                -ms-transform: translate(0, 0);
                }
                25% {
                                -ms-transform: translate(0, -60.5px);
                }
                50% {
                                -ms-transform: translate(60.5px, -60.5px);
                }
                75% {
                                -ms-transform: translate(60.5px, 0);
                }
}

@-webkit-keyframes square-bl {
                0% {
                                -webkit-transform: translate(0, 0);
                }
                25% {
                                -webkit-transform: translate(0, -60.5px);
                }
                50% {
                                -webkit-transform: translate(60.5px, -60.5px);
                }
                75% {
                                -webkit-transform: translate(60.5px, 0);
                }
}

@-moz-keyframes square-bl {
                0% {
                                -moz-transform: translate(0, 0);
                }
                25% {
                                -moz-transform: translate(0, -60.5px);
                }
                50% {
                                -moz-transform: translate(60.5px, -60.5px);
                }
                75% {
                                -moz-transform: translate(60.5px, 0);
                }
}

@keyframes square-tr {
                0% {
                                transform: translate(0, 0);
                }
                25% {
                                transform: translate(-60.5px, 0);
                }
                50% {
                                transform: translate(-60.5px, 60.5px);
                }
                75% {
                                transform: translate(0, 60.5px);
                }
}

@-o-keyframes square-tr {
                0% {
                                -o-transform: translate(0, 0);
                }
                25% {
                                -o-transform: translate(-60.5px, 0);
                }
                50% {
                                -o-transform: translate(-60.5px, 60.5px);
                }
                75% {
                                -o-transform: translate(0, 60.5px);
                }
}

@-ms-keyframes square-tr {
                0% {
                                -ms-transform: translate(0, 0);
                }
                25% {
                                -ms-transform: translate(-60.5px, 0);
                }
                50% {
                                -ms-transform: translate(-60.5px, 60.5px);
                }
                75% {
                                -ms-transform: translate(0, 60.5px);
                }
}

@-webkit-keyframes square-tr {
                0% {
                                -webkit-transform: translate(0, 0);
                }
                25% {
                                -webkit-transform: translate(-60.5px, 0);
                }
                50% {
                                -webkit-transform: translate(-60.5px, 60.5px);
                }
                75% {
                                -webkit-transform: translate(0, 60.5px);
                }
}

@-moz-keyframes square-tr {
                0% {
                                -moz-transform: translate(0, 0);
                }
                25% {
                                -moz-transform: translate(-60.5px, 0);
                }
                50% {
                                -moz-transform: translate(-60.5px, 60.5px);
                }
                75% {
                                -moz-transform: translate(0, 60.5px);
                }
}

@keyframes square-br {
                0% {
                                transform: translate(0, 0);
                }
                25% {
                                transform: translate(-60.5px, 0);
                }
                50% {
                                transform: translate(-60.5px, -60.5px);
                }
                75% {
                                transform: translate(0, -60.5px);
                }
}

@-o-keyframes square-br {
                0% {
                                -o-transform: translate(0, 0);
                }
                25% {
                                -o-transform: translate(-60.5px, 0);
                }
                50% {
                                -o-transform: translate(-60.5px, -60.5px);
                }
                75% {
                                -o-transform: translate(0, -60.5px);
                }
}

@-ms-keyframes square-br {
                0% {
                                -ms-transform: translate(0, 0);
                }
                25% {
                                -ms-transform: translate(-60.5px, 0);
                }
                50% {
                                -ms-transform: translate(-60.5px, -60.5px);
                }
                75% {
                                -ms-transform: translate(0, -60.5px);
                }
}

@-webkit-keyframes square-br {
                0% {
                                -webkit-transform: translate(0, 0);
                }
                25% {
                                -webkit-transform: translate(-60.5px, 0);
                }
                50% {
                                -webkit-transform: translate(-60.5px, -60.5px);
                }
                75% {
                                -webkit-transform: translate(0, -60.5px);
                }
}

@-moz-keyframes square-br {
                0% {
                                -moz-transform: translate(0, 0);
                }
                25% {
                                -moz-transform: translate(-60.5px, 0);
                }
                50% {
                                -moz-transform: translate(-60.5px, -60.5px);
                }
                75% {
                                -moz-transform: translate(0, -60.5px);
                }
}

@keyframes rotate {
                from {
                                transform: rotate(0deg);
                }
                to {
                                transform: rotate(360deg);
                }
}

@-o-keyframes rotate {
                from {
                                -o-transform: rotate(0deg);
                }
                to {
                                -o-transform: rotate(360deg);
                }
}

@-ms-keyframes rotate {
                from {
                                -ms-transform: rotate(0deg);
                }
                to {
                                -ms-transform: rotate(360deg);
                }
}

@-webkit-keyframes rotate {
                from {
                                -webkit-transform: rotate(0deg);
                }
                to {
                                -webkit-transform: rotate(360deg);
                }
}

@-moz-keyframes rotate {
                from {
                                -moz-transform: rotate(0deg);
                }
                to {
                                -moz-transform: rotate(360deg);
                }
}

@keyframes pulse {
                0%, 100% {
                                transform: scale(inherit) rotate(45deg);
                }
                75% {
                                transform: scale(0.25) rotate(45deg);
                }
}

@-o-keyframes pulse {
                0%, 100% {
                                -o-transform: scale(inherit) rotate(45deg);
                }
                75% {
                                -o-transform: scale(0.25) rotate(45deg);
                }
}

@-ms-keyframes pulse {
                0%, 100% {
                                -ms-transform: scale(inherit) rotate(45deg);
                }
                75% {
                                -ms-transform: scale(0.25) rotate(45deg);
                }
}

@-webkit-keyframes pulse {
                0%, 100% {
                                -webkit-transform: scale(inherit) rotate(45deg);
                }
                75% {
                                -webkit-transform: scale(0.25) rotate(45deg);
                }
}

@-moz-keyframes pulse {
                0%, 100% {
                                -moz-transform: scale(inherit) rotate(45deg);
                }
                75% {
                                -moz-transform: scale(0.25) rotate(45deg);
                }
}
